<template name="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-info text-center">
        <p>Turvallisuuspäällikkö valvoo, että laskuvarjohyppytoiminnassa sattuneet vaaratilanteet ilmoitetaan viipymättä SIL ry:lle. Vaaratilannelomake täytetään nykyään ensisijaisesti netissä Vaaratilanneilmoitus nettilomake (1.3.2011), joten tämä on syytä ohjeistaa kaikille hyppääjille ja opettaa oppilaille koulutuksen aikana. Ilmoituksesta pitää toimitta kopio AINAKIN organisaation turvallisuuspäällikölle, joten tämä on syytä huomioida.
        </p>
        <p>
        HUOM.: Ilmoitus on laadittava välittömästi tapahtuman jälkeen ja toimitettava ensi tilassa SIL:lle, kuitenkin viimeistään 72 tunnin kuluessa tapauksesta. Tämä ilmoitus ei kuitenkaan vapauta tekemästä ilmoitusta onnettomuustilanteessa ilmailumääräyksen GEN M1-4 mukaisesti.
        </p>
        </div>
      </div>
    </div>
  </div>
</template>