<template name="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
{{#markdown}}

Tämä on Laskuvarjotoimikunnan vaaratilanneilmoituspalvelu. Palvelu vaatii toimiakseen nykyaikaisen selaimen, jossa Javascript on sallittuna.

Kysymykset palvelun tekniikasta ja palautteet osoitetaan <vtr@laskuvarjotoimikunta.fi>.

Palvelun lähdekoodi on avoimesti saatavilla [Github](https://github.com/laskuvarjotoimikunta/vtr)issa.

Turvallisuuspäällikkö valvoo, että laskuvarjohyppytoiminnassa sattuneet vaaratilanteet ilmoitetaan viipymättä SIL ry:lle. Vaaratilannelomake täytetään tämän palvelun kautta, joten tämä on syytä ohjeistaa kaikille hyppääjille ja opettaa oppilaille koulutuksen aikana. Ilmoituksesta lähtee tarvittavat kopiot organisaation vastuuhenkilöille.

Ilmoitus on laadittava välittömästi tapahtuman jälkeen ja toimitettava ensi tilassa SIL:lle.
{{/markdown}}
      </div>
    </div>
  </div>
</template>