<template name="home">
	<div class="jumbotron">
		<div class="container">
			<h1>Laskuvarjotoimikunta</h1>
			<p>Tämä palvelu on tarkoitettu suomalaisille laskuvarjohyppääjille vaaratilanneraportointia varten.</p>

			{{#if currentUser}}
				<p>
					<a class="btn btn-primary btn-lg" href="{{pathFor 'newVtr'}}" role="button">Tee vaaratilanneraportti »</a>
				</p>
				<p>
					<a class="btn btn-default btn-sm" href="http://www.laskuvarjotoimikunta.fi" role="button">laskuvarjotoimikunta.fi »</a>
				</p>
			{{else}}
					<p>{{> loginPasswordless}}</p>
			{{/if}}
		</div>
	</div>
	<div class="container">


		<hr>

		<footer>
			<p>© LT 2015. Sources at <a href="https://github.com/laskuvarjotoimikunta/vtr">Github</a></p>
		</footer>
	</div>
</template>