<template name="privacyPolicy">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
{{#markdown}}

Rekisteriseloste
======

### Rekisterinpitäjä

Suomen Ilmailuliitto ry<br>
Laskuvarjotoimikunta<br>
Helsinki-Malmin lentoasema<br>
00700 Helsinki<br>
vtr@laskuvarjotoimikunta.fi

### Yhteystiedot rekisteriä koskevissa asioissa

Suomen Ilmailuliitto ry<br>
Laskuvarjotoimikunta<br>
Helsinki-Malmin lentoasema<br>
00700 Helsinki<br>
vtr@laskuvarjotoimikunta.fi

### Rekisterin nimi

Laskuvarjotoimikunnan vaaratilanneilmoitustietokanta

### Henkilötietojen käsittelyn tarkoitus

Laskuvarjohyppytoiminnan vaaratilanneilmoitusten käsittely ja tilastointi

### Rekisterin tietosisältö

- Ilmoituksen tekijän antama puhelinnumero. Puhelinnumeroa käytetään vain, mikäli  ilmoitus vaatii olennaisia tarkennuksia vuositilastointia varten
- Ilmoituksen tekijän antama sähköpostiosoite, jota käytetään palveluun kirjautumiseen
- Laskuvarjohyppääjän paino,  jota käytetään siipikuorman laskemiseen tilanteissa, joissa siipikuorma on saattanut vaikuttaa vaaratilanteen syntymiseen.
- Muut ilmoituksen jättäjän antamat tapaukseen liittyvät tiedot

### Säännönmukaiset tietolähteet

Ilmoituksen jättäjän antamat tiedot.

### Tietojen säännönmukaiset luovutukset

Tietoja ei luovuteta kolmansille osapuolille ilman henkilön erillistä suostumusta.

### Tietojen siirto EU:n tai ETA:n ulkopuolelle

Rekisteriin tallennettuja tietoja ei säännönmukaisesti luovuteta yhdistyksen ulkopuolelle, ei myöskään EU-alueen tai ETA-alueen ulkopuolelle.

### Rekisterin suojauksen periaatteet

#### Sähköinen aineisto

Tiedot säilytetään tietokannassa, johon on pääsy Laskuvarjotoimikunnan ilmoituksia käsittelevillä henkilöillä, sekä tapahtumapaikan hyppyorganisaation koulutuspäälliköllä, apulaiskoulutuspäälliköllä ja turvallisuuspäälliköllä.

Tietokanta sijaitsee Suomessa ja on suojattu käyttäjätunnuksin ja salasanoin. Suomen Ilmailuliitto ry/Laskuvarjotoimikunta huolehtii tietoturvan säilymisestä parhaan kykynsä mukaan.
{{/markdown}}
      </div>
    </div>
  </div>
</template>